<div class="translated-series">
<h1>  افلام</h1>
<div class="movies">
  
    <div class="movie-card" *ngFor="let movie of movies" (mouseover)="showDetails(movie)" (mouseleave)="hideDetails()">
      <img [src]="movie.imageUrl" [alt]="movie.title">
      <div class="movie-title">{{ movie.title }}</div>
    </div>
  </div>
  
  <div class="movie-detail-card" *ngIf="selectedMovie">
    <h2>{{ selectedMovie.title }}</h2>
    <div class="rating">
      <span *ngFor="let star of getStarsArray(selectedMovie.rating)">&#9733;</span>
    </div>
    <div class="duration">Duration: {{ selectedMovie.duration }}</div>
  </div>
</div>