body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light background color for better contrast */
}

.contact-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  box-sizing: border-box;
  text-align: center;
}

.contact-container h2 {
  margin-bottom: 20px;
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}
