<div class="contact-container">
  <h2>Contact Us</h2>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" name="name" [(ngModel)]="formData.name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="formData.email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <input matInput type="text" id="subject" name="subject" [(ngModel)]="formData.subject" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput id="message" name="message" rows="5" [(ngModel)]="formData.message" required></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.form.valid">Send</button>
  </form>
</div>

